<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking Platform</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style_for_post_get.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark header">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-hotel"></i> Hotel Booking Platform </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"> Home </a>
                </li>
                <li class="dis">
                    <a class="nav-link" href="#"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"> About </a>
                </li>
                <li class="dis">
                    <a class="nav-link" href="#"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"> Contact </a>
                </li>
                <li class="dis">
                    <a class="nav-link" href="#"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Hotels </a>
                </li>
            </ul>
        </div>
    </nav> 

    <div class="displaying">    
        <div id="filter">
            <h2 id="filt">Filter</h2>
            <form id="form">
                Country
                <input type="text" id="by_country">
                Sort by price
                <select id="by_price">
                    <option></option>
                    <option>Asceding</option>
                    <option>Desceding</option>
                </select>
                Fields
                <input type="text" id="fields">
                Minimum price
                <input type="number" name="minPrice" id="minp"> 
                <button id="filter">Filter</button> 
            </form>
        </div>
        <div id = "res1"> 
            <div id="searching"><input type="text" id="for_search" placeholder="id:"><button id="for_search_2">Search</button></div>
            <div id="result"></div> 
        </div>
    </div>

    <div class="api">
        <form id="creating">
            <h4>Add hotel</h4>
            <label>
                Hotel name:<br>
                <input type="text" id="name">
            </label>
            <label>
                Price per night:<br>
                <input type="number" id="price">
            </label>
            <label>
                Country:<br>
                <input type="text" id="country">
            </label>
            <button class="button_hotel">Create</button>
        </form>
   
        <form id="updating">
            <h4>Update hotel</h4>
            <label>Hotel ID:<br>
                <input type="text" id="update_id" required>
            </label>
            <label>New name:<br>
                <input type="text" id="update_name">
            </label>
            <label>New price per night:<br>
                <input type="number" id="update_price">
            </label>
            <label>New country:<br>
                <input type="text" id="update_country">
             </label>
            <button class="button_hotel">Update</button>
        </form>

        <form id="deleting">
            <h4>Delete hotel</h4>
            <label>Hotel id:<br>
                <input type="text" id="delete_id">
            </label>
            <button class="button_hotel">Delete</button>
        </form>
    </div>

    <div id="footer">
        <div class="a1">
            <div>
                <p>Contact info</p>
                <p><i class="fa-brands fa-instagram"></i> HotelBooking</p>
                <p><i class="fa-brands fa-whatsapp"></i> X-XXX-XX-XX</p>
            </div>
            <div>
                <p>Location</p>
                <p>KZ:<br>
                    Almaty, Astana<br><br>
                    RU:<br>
                    Moscow
                </p>
            </div>
        </div>
        <hr>
        <div class="a2"><p>All right reserved© | 2025</p></div>
    </div>

<script src="/script.js"></script>
</body>
</html>