<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking Platform</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_for_post_get.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark header">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-hotel"></i> Hotel Booking Platform </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"> Home </a>
                </li>
                <li class="dis">
                    <a class="nav-link" href="#"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"> About </a>
                </li>
                <li class="dis">
                    <a class="nav-link" href="#"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"> Contact </a>
                </li>
                <li class="dis">
                    <a class="nav-link" href="#"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Hotels </a>
                </li>
                <li class="dis">
                    <a class="nav-link" href="#"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookings"> Bookings </a>
                </li>
                <li class="dis">
                    <a class="nav-link" href="#"> | </a>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="POST" style="display:inline;">
                        <button type="submit" class="nav-link btn btn-link" style="padding: 0; border: 1px solid black;border-radius: 5px; background: none; margin-top: 7px;padding: 3px; border-color: white;">
                            <i class="fa-regular fa-user"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav> 

    <div class="displaying">    
        <div id="searching"><input type="text" id="for_search" placeholder="id or name:"><button id="for_search_2">Search</button></div>
        <div id="filters">
        <label for="country_filter">Country:</label>
        <input type="text" id="country_filter" placeholder="Enter country">

        <label for="stars_filter" id="st">Stars:</label>
        <select id="stars_filter">
            <option value="">All</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>

        <label for="price_sort" id="ps">Sort by price:</label>
        <select id="price_sort">
            <option value="">None</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <button id="apply_filters">Apply</button>
    </div>
        <div id="result"></div>
        <div id="pagination">
            <button id="prev" class="pgn">Previous</button>
            <button id="next" class="pgn">Next</button>
        </div>
    </div>

    


    <div class="api">
        <form id="creating">
            <h4>Add hotel</h4>
            <label>
                Hotel name:<br>
                <input type="text" id="name">
            </label>
            <label>
                Address:<br>
                <input type="text" id="address">
            </label>
            <label>
                City:<br>
                <input type="text" id="city">
            </label>
            <label>
                Country:<br>
                <input type="text" id="country">
            </label>
            <label>
                Stars:<br>
                <input type="number" id="stars">
            </label>
            <label>
                Price per night:<br>
                <input type="number" id="price">
            </label>
            <label>
                description:<br>
                <input type="text" id="description">
            </label>
            <button class="button_hotel">Create</button>
        </form>
   
        <form id="updating">
            <h4>Update hotel</h4>
            <label>Hotel ID:<br>
                <input type="text" id="update_id" required>
            </label>
            <label>New name:<br>
                <input type="text" id="update_name">
            </label>
            <label>New address:<br>
                <input type="text" id="update_address">
            </label>
            <label>New city:<br>
                <input type="text" id="update_city">
            </label>
            <label>New country:<br>
                <input type="text" id="update_country">
             </label>
             <label>Update stars:<br>
                <input type="number" id="update_stars">
            </label>
             <label>New price per night:<br>
                <input type="number" id="update_price">
            </label>
            <label>New description:<br>
                <input type="text" id="update_description">
            </label>
            <button class="button_hotel">Update</button>
        </form>

        <form id="deleting">
            <h4>Delete hotel</h4>
            <label>Hotel id:<br>
                <input type="text" id="delete_id">
            </label>
            <button class="button_hotel">Delete</button>
        </form>
    </div>

    <div id="footer">
        <div class="a1">
            <div>
                <p>Contact info</p>
                <p><i class="fa-brands fa-instagram"></i> HotelBooking</p>
                <p><i class="fa-brands fa-whatsapp"></i> X-XXX-XX-XX</p>
            </div>
            <div>
                <p>Location</p>
                <p>KZ:<br>
                    Almaty, Astana<br><br>
                    RU:<br>
                    Moscow
                </p>
            </div>
        </div>
        <hr>
        <div class="a2"><p>All right reserved© | 2025</p></div>
    </div>

<script src="/js/script.js"></script>
</body>
</html>