#prev{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#my_bookings{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

#footer{
    margin-top: 300px;
}

.booking_card{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

#unb{
    width: 200px;
    background-color: rgb(116, 111, 111);
    color: white;
    border: 0;
    border-radius: 5px;
}

.delete-booking{
    width: 200px;
    background-color: rgb(201, 11, 11);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
}