.displaying{
    margin-top: 50px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 50px;
}

#result{
    padding: 10px;
}

#searching{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#for_search{
    width: 93%
}

#for_search_2{
    padding: 2px;
    width: 7%;
}

#form{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

#filt{
    margin-left: 20px;
}

input{
    border: 2px solid lightgray;
}

.api{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 0px !important;
}

#creating{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

#updating{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-top: 2px solid black;
}

#deleting{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-top: 2px solid black;
}

.api input{
    width: 100%;
    height: 40px;
}

.button_hotel{
    width: 100px;
    margin-left: 635px;
}





