.displaying{
    margin-top: 50px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 3px solid black;
    margin-bottom: 50px;
    border-radius: 10px;
}

#result{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    gap:10px
}

hr{
    margin-left: 50px;
    margin-right: 50px;
}

.hotel_card{
    display: flex;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.for_img{
    max-width: 30%;
    padding: 20px;
    border-radius: 5px;
}

.for_data{
    max-width: 70%;
}

img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

#searching{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#for_search{
    width: 93%;
    border-bottom: 2px solid black;
    border-top-left-radius: 10px;
}

#for_search_2{
    padding: 2px;
    width: 7%;
    border-top-right-radius: 5px;
}

#show_more{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
}

#form{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

#filt{
    margin-left: 20px;
}

input{
    border: 2px solid lightgray;
}

.api{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 0px !important;
}

#creating{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

#updating{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-top: 2px solid black;
}

#deleting{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-top: 2px solid black;
}

.api input{
    width: 100%;
    height: 40px;
}

.button_hotel{
    width: 100px;
    margin-left: 635px;
}





